
body {
	height: 850px;
	width: 1070px;
	margin: 0px auto;
	box-shadow: 0 0 5px #dbdbdb;
} 


/*HEADER*/
.header {
	width: 970px;
	height: 200px;
	margin: 0 auto;

}
.fitness {
	padding: 30px 0;
}

.menu-list {
	height: 40px;
	background-color: #5b5b5b;
	padding-left: 1px;

}
.menu-list li {
	display: inline-block;

}
.menu-list li a {
	display: inline-block;
	width: 101px;
	height: 16px;
	color: #ffffff;
	text-shadow: 1px 1px #383737;
	text-decoration: none;
	text-align: center;
	padding: 12px 0;
	font-size: 17px;
}

.menu-list li:hover {
	background-image: url(../img/hover.png);
}

/*end ofHEADER*/

/*CENTRAL*/
.central {
	width: 970px;
	height: 550px;
	margin: 0 auto;
}

/*end of CENTRAL*/

/*SIDEBAR*/

.sidebar {
	float: left;
	height: 240px;
	width: 240px;
	border: 1px solid #c8c8c8;
	font-family: sans-serif;
	
}
.sidebar li {
	height: 39px;
	border-bottom: 1px solid #c8c8c8;
}
.sidebar li a {
	padding-left: 24px;
	padding-top: 15px;
	font-size: 13px;
	text-decoration: none;
	color: #656363;
	display: block;
}
.sidebar li a:hover {
	padding-left: 40px;
	padding-top: 15px;
	color: #2c2c2c;
	height: 24px;
}
.sidebar li:hover {
	background-image: url(../img/hover1.png);

}
.sidebar li:last-child {
	border-bottom: 0;
}

/*end of SIDEBAR*/

/*CONTENT*/

.content {
	float: right;
	width: 676px;
}

.text {
	border: 0;
	padding-top: 35px;
	padding-left: 25px;
	padding-bottom: 31px;
	text-align: left;
	font-family: sans-serif;
	color: #2c2c2c;
	font-size: 14px;
}

.content img{
	padding: 20px 87px;
	border: 1px solid #c8c8c8;
}
/*end of CONTENT*/

/*FOOTER*/
.footer {
	clear: both;
	width: 970px;
	height: 40px;
	margin: 0 auto;
	background-color: #e1e1e1;
}
.footer li {
	display: inline-block;
	width: 90px;
	height: 16px;
	padding: 12px 25px;
	color: #2c2c2c;
}
.footer li a {
	text-decoration: none;
	color: #2c2c2c;
	}
.footer li:last-child {
	text-align: right;
	width: 344px;
}
.footer li:hover {
	text-decoration: underline;
}
/*end of FOOTER*/
