
body {
	height: 850px;
	width: 1070px;
	margin: 0px auto;
} 


/*HEADER*/
.header img {
	margin-top: 25px;
}
.header {
	width: 970px;
	height: 150px;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;

}
.menu_list {
	height: 40px;
	background-color: #5b5b5b;
	margin-top: 40px;
	padding-left: 1px;

}
.menu_list li {
	display: inline-block;

}
.menu_list li a {
	display: inline-block;
	width: 101px;
	height: 16px;
	color: #ffffff;
	text-shadow: 1px 1px #383737;
	text-decoration: none;
	text-align: center;
	padding: 12px 0;
	font-size: 17px;
}

.menu_list li a:hover {
	background-image: url(../img/hover.png);
}

/*HEADER*/

/*SIDEBAR*/

.sidebar {
	height: 240px;
	width: 240px;
	border: 1px solid #c8c8c8;
	margin-top: 45px;
	margin-left: 50px;
	font-family: sans-serif;
	float: left;
}
.sidebar li {
	height: 39px;
	border-bottom: 1px solid #c8c8c8;
}
.sidebar li a {
	padding-left: 24px;
	padding-top: 15px;
	font-size: 13px;
	text-decoration: none;
	color: #656363;
	display: block;
}
.sidebar li a:hover {
	background-image: url(../img/hover1.png);
	padding-left: 40px;
	padding-top: 15px;
	color: #2c2c2c;
	height: 24px;
}

.sidebar li:last-child {
	border-bottom: 0;
}

/*SIDEBAR*/

/*CONTENT*/

.content {
	margin-left: 344px;
	margin-top: 45px;
	width: 680px;
	margin-right: 53px;
}

.text {
	border: 0;
	margin-top: 35px;
	margin-left: 25px;
	text-align: left;
	font-family: sans-serif;
	color: #2c2c2c;
	font-size: 14px;
}

.content img{
	padding: 20px 87px;
	border: 1px solid #c8c8c8;
}
/*CONTENT*/

/*FOOTER*/
.footer {
	width: 970px;
	height: 40px;
	margin-top: 60px;
	margin-left: 50px;
	margin-bottom: 25px;
	background-color: #e1e1e1;
}
.footer li {
	display: inline-block;
	height: 16px;
	padding: 12px 25px;
	color: #2c2c2c;
}
.footer li a {
	text-decoration: none;
	color: #2c2c2c;
	}
.footer li:last-child {
	text-align: right;
	width: 490px;
}
.footer li a:hover {
	text-decoration: underline;
}

